<header tuiNavigationHeader>
    <span tuiFade tuiNavigationLogo>
        <span>ศูนย์รับแจ้งเหตุและสั่งการการแพทย์ฉุกเฉิน อบจ.ปัตตานี</span>
        <div tuiBadge>pre-alpha-0.0.0</div>
    </span>

</header>

<div [style.display]="'flex'">
    <aside
        [tuiNavigationAside]="expanded()"
        [style.height]="'calc(100vh - 3rem)'"
    >
        <header>
            <button iconStart="@tui.home" type="button" [routerLink]="'/home'" [tuiAsideItem]="hint">
                <ng-container [ngTemplateOutlet]="hint" />
                <ng-template #hint>
                    <span tuiFade>หน้าหลัก</span>
                </ng-template>
            </button>
        </header>

        <tui-aside-group [(open)]="open1">
            <button
                iconStart="@tui.layout-dashboard"
                tuiAsideItem
                tuiChevron
                type="button"
            >
                รายงานรับแจ้งเหตุ
                <ng-template>
                    <button tuiAsideItem type="button" [routerLink]="'/ir-db'">
                        แดชบอร์ด
                    </button>
                    <button tuiAsideItem type="button" [routerLink]="'/ir-r'">
                        สรุปผล
                    </button>
                    <button tuiAsideItem type="button" [routerLink]="'/ir-md'">
                        จัดการข้อมูล
                    </button>
                </ng-template>
            </button>
        </tui-aside-group>

        <tui-aside-group [(open)]="open2">
            <button
                iconStart="@tui.map"
                tuiAsideItem
                tuiChevron
                type="button"
            >
                รวมหน่วยกู้ชีพ
                <ng-template>
                    <button tuiAsideItem type="button" [routerLink]="'/rd-m'">
                        แผนที่
                    </button>
                    <button tuiAsideItem type="button" [routerLink]="'/rd-r'">
                        สรุปผล
                    </button>
                    <button tuiAsideItem type="button" [routerLink]="'/rd-md'">
                        จัดการข้อมูล
                    </button>
                </ng-template>
            </button>
        </tui-aside-group>

        <footer>
            <button iconStart="@tui.settings" tuiAsideItem type="button">
                การตั้งค่า
            </button>
            <button
                tuiAsideItem
                type="button"
                [iconStart]="expanded() ? '@tui.arrow-left-to-line' : '@tui.arrow-right-to-line'"
                (click)="handleToggle()"
            >
                {{ expanded() ? 'ซ่อนแถบ' : 'แสดงแถบ' }}
            </button>
        </footer>
    </aside>

    <main tuiNavigationMain>
        <router-outlet />
    </main>
</div>
